.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}

// /.ant
@mixin text-left {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: #b5b5b5;
}

.content {
    height: 100%;
    &__wrapper {
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__preview {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 15px 0;
        padding: 0 20px 0 0;
    }
    &__preview--treads {
        justify-content: flex-start;
        :not(:last-child) {
            margin: 0 10px 0 0;
        }
    }
    &__section {
        height: 100%;
    }
    &__section--left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 10px 20px 40px;
        background-color: rgba($color: #25272a, $alpha: 0.75);
    }
    &__section--main {
        background-color: rgba(59, 48, 48, 0.3);
    }
    &__section--right {
        background-color: rgba(160, 122, 122, 0.3);
    }
    &__title {
        text-transform: uppercase;
        color: #b5b5b5;
        font-size: 12px;
        line-height: 14.4px;
        font-weight: 700;
        margin: 0;
    }
    &__title--small {
        text-transform: none;
        @include text-left;
    }
    &__counter {
        color: #b5b5b5;
        font-size: 12px;
    }
    &__button {
        background-color: transparent;
        padding: 0;
    }
}

.chat {
    background-color: #fff;
    height: 100%;
    &__section--top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 20px 25px 20px;
        border-bottom: 1px solid rgba($color: #000, $alpha: 0.25);
    }
    &__section--main {
        padding: 0 20px 0 20px;
    }
    &__column {
        display: flex;
        align-items: center;
        :not(:last-child) {
            margin: 0 5px 0 0;
        }
    }
    &__column--name {
        flex: 1;
    }
    &__column--settings {
        margin: 0 0 0 20px;
    }
    &__button {
        background-color: transparent;
        padding: 0;
    }
    &__name {
        font-size: 20px;
        font-weight: 700;
        color: #000;
    }
    &__form {
        position: relative;
        margin: 0 20px 0 20px;
    }
    &__input {
        padding: 6px 16px;
        border-radius: 5px;
        border: 0.5px solid rgba(0, 0, 0, 0.24);
        &::placeholder {
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            color: #8d8d8d;
        }
    }
    &__button--form {
        position: absolute;
        top: 14%;
        left: 82%;
    }
}
