.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}

// /.ant
@mixin text-left {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: #b5b5b5;
}

.content {
    height: 100%;
    &__wrapper {
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__preview {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 15px 0;
        padding: 0 20px 0 0;
    }
    &__preview--treads {
        justify-content: flex-start;
        :not(:last-child) {
            margin: 0 10px 0 0;
        }
    }
    &__section {
        height: 100%;
    }
    &__section--left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 10px 20px 40px;
        background-color: rgba($color: #25272a, $alpha: 0.75);
    }
    &__section--main {
        background-color: rgba(59, 48, 48, 0.3);
    }
    &__section--right {
        background-color: rgba(160, 122, 122, 0.3);
    }
    &__title {
        text-transform: uppercase;
        color: #b5b5b5;
        font-size: 12px;
        line-height: 14.4px;
        font-weight: 700;
        margin: 0;
    }
    &__title--main {
        font-size: 24px;
        text-transform: none;
    }
    &__title--small {
        text-transform: none;
        @include text-left;
    }
    &__counter {
        color: #b5b5b5;
        font-size: 12px;
    }
    &__button {
        background-color: transparent;
        padding: 0;
    }
    &__button--settings {
        position: relative;
        &::before {
            transition: 0.25s linear;
            opacity: 0;
            content: "Settings";
            font-size: 16px;
            color: #fff;
            position: absolute;
            top: -170%;
            left: -170%;
            padding: 5px;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.54);
        }
        &:hover {
            &::before {
                opacity: 1;
            }
        }
    }
}

.chat {
    background-color: #fff;
    height: 100%;
    &__section--top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 20px 25px 20px;
        border-bottom: 1px solid rgba($color: #000, $alpha: 0.25);
        flex: 0 0 auto;
    }
    &__column--user {
        margin: 0 20px;
    }
    &__column--notification {
        margin: 0 20px;
        // position: relative;
        // &::before {
        //     content: "";
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        //     width: 4px;
        //     height: 4px;
        //     background-color: #fd4948;
        //     border-radius: 100%;
        // }
    }
    &__section--main {
        padding: 6px 6px 6px 22px;
        flex: 1 1 auto;
    }
    &__column {
        display: flex;
        align-items: center;
        :not(:last-child) {
            margin: 0 5px 0 0;
        }
    }
    &__column--name {
        flex: 1;
    }
    // &__column--settings {
    //     margin: 0 0 0 20px;
    // }
    &__button {
        background-color: transparent;
        padding: 0;
    }
    &__name {
        font-weight: 700;
        font-size: 24px;
        line-height: 20px;
    }
}

.form {
    position: relative;
    // margin: 0 20px 0 20px;
    &__input {
        padding: 6px 16px;
        margin: 0 !important;
        border-radius: 5px;
        border: 0.5px solid rgba(0, 0, 0, 0.24);
        &::placeholder {
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            color: #8d8d8d;
        }
    }
    &__interaction {
        position: absolute;
        left: 0;
        top: 35%;
        padding: 0 24px;
        :not(:last-child) {
            margin: 0 20px 0 0;
        }
    }
    &__button {
        background-color: transparent;
        padding: 0;
    }
    &__name {
        font-size: 20px;
        font-weight: 700;
        color: #000;
    }
    &__input--message {
        width: 100%;
        height: 100%;
        border-radius: 0;
        border: none;
        border-top: 1px solid rgba(0, 0, 0, 0.24);
        padding: 25px 90px 25px 90px;
    }
    &__button--search {
        position: absolute;
        top: 14%;
        left: 82%;
    }
    &__button--message {
        position: absolute;
    }
    &__button--voice {
        position: static;
    }
    &__button--file {
        position: static;
    }
    &__button--emoji {
        right: 0;
        top: 35%;
        padding: 0 20px;
    }
}
.form--message {
    margin: 0;
    width: 100%;
}

.profile {
    background-color: rgba($color: #fff, $alpha: 0.8);
    height: 100%;
    &__wrapper {
        padding: 16px 20px;
    }
    &__image {
        object-fit: cover;
        width: 100%;
        height: 201px;
    }
    &__name {
        margin: 0;
        font-weight: 700;
        padding: 0 5px 0 0;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &::before {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            right: 0;
            top: 30%;
            background-color: #59bf40;
            border-radius: 100%;
        }
    }
    &__bio {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__button {
        margin: 0 0 20px 0;
        font-size: 13px;
        line-height: 15.6px;
        font-weight: 700;
        border-radius: 5px;
        background-color: #3577ef;
        color: #fff;
        width: 100%;
        padding: 5px;
    }
}

.social {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    :not(:last-child) {
        margin: 0 12px 0 0;
    }
    &__link {
        color: #000;
    }
}

.information {
    margin: 0;
    &__template {
        display: flex;
        flex-direction: column;
        &:not(:last-child) {
            margin: 0 0 10px 0;
        }
    }
    &__title {
        font-size: 12px;
        line-height: 14.4px;
        font-weight: 400;
        color: #5f6164;
    }
    &__link {
        font-size: 14px;
        line-height: 16.8px;
        font-weight: 600;
        color: #000;
    }
}
