@media (max-width: 1440px) {
    .form__input--message.form__input--message {
        padding: 20px 90px 20px 90px;
    }
    .ant-layout-sider-collapsed.ant-layout-sider-collapsed {
        flex: 0 0 50px !important;
        max-width: 50px !important;
        min-width: 50px !important;
        width: 50px !important;
    }
    .logo.logo {
        height: 20px;
    }
    .channels.channels {
        max-height: calc(100vh - 745px);
    }
}

@media (max-width: 992px) {
    .content__section--left.content__section--left {
        display: none !important;
    }
    .message.message {
        max-height: calc(100vh - 205px);
    }
}

@media (max-width: 768px) {
    .message.message {
        max-height: calc(100vh - 185px);
    }
    .settings__column--left.settings__column--left {
        position: absolute;
        left: -100%;
    }
}

@media (max-width: 680px) {
    .ant-layout-header {
        display: none;
    }

    .message.message {
        max-height: calc(100vh - 165px);
    }
    .ant-layout-header.ant-layout-header {
        height: 40px;
        position: relative;
    }
    .ant-layout-header .trigger {
        position: absolute;
        padding: 0;
        margin: 20px 0 0 24px;
        left: 0;
        top: 0;
    }
}

@media (max-width: 544px) {
    .message.message {
        max-height: calc(100vh - 165px);
    }
    .chat__column--name.chat__column--name {
        flex: 0 0 auto;
    }
    .chat__column--user.chat__column--user {
        margin: 0 20px;
    }
    .chat__column--form.chat__column--form {
        flex: 1 1 auto;
    }
    .form {
        width: 100%;
    }
    .chat__column--notification.chat__column--notification {
        display: none;
    }
}

@media (max-width: 500px) {
    .chat__column--settings.chat__column--settings {
        display: none;
    }
    .chat__column--notification.chat__column--notification {
        margin: 20px 5px 0 5px;
    }
    .message.message {
        max-height: calc(100vh - 165px);
    }
    .account-card__row,
    .account-card__header {
        flex-direction: column;
    }
    .account-card__text {
        margin: 0 0 10px 0;
    }
    .account-card__preview {
        margin: 0 0 20px 0;
    }
    .account__button--profileEdit {
        width: 100%;
    }
    .account__button--disableAcc.account__button--disableAcc {
        margin: 0 0 20px 0;
    }
    .account__buttons {
        display: flex;
        flex-direction: column;
    }
    .warning__button {
        min-width: 120px;
    }
    .warning__image {
        width: 128px;
        height: 128px;
    }
    .warning__title {
        font-size: 24px;
    }
    .warning__description {
        font-size: 16px;
    }
}

@media (min-width: 482px) and (max-width: 499px) {
    .message.message {
        max-height: calc(100vh - 185px);
    }
    .chat__column--form {
        margin: 20px 0 0 0;
    }
    .chat__column--user.chat__column--user {
        margin: 0 0 0 20px;
    }
}

@media (min-width: 376px) and (max-width: 405px) {
    .message.message {
        max-height: calc(100vh - 195px);
    }
}

@media (max-width: 375px) {
    .chat__column--user.chat__column--user {
        margin: 0 0 0 20px;
    }
    .chat__column--form {
        margin: 10px 0 0 0;
    }
    .ant-result.ant-result {
        padding: 0;
    }
    .ant-result-extra.ant-result-extra {
        margin: 10px 0 0 0;
    }
    .message.message {
        max-height: calc(100vh - 195px);
    }
}

@media (max-width: 320px) {
    .message.message {
        max-height: calc(100vh - 200px);
    }
    .chat__column--form {
        margin: 10px 0 0 0;
    }
    .chat__column--user.chat__column--user {
        margin: 0 0 0 20px;
    }
    .warning__button {
        min-width: 100px;
    }
    .ant-result-title,
    .ant-result-subtitle {
        display: none;
    }
}

@media (orientation: landscape) and (max-height: 768px) {
    .ant-layout-header.ant-layout-header {
        height: 40px;
        position: relative;
    }
    .ant-layout-header .trigger {
        position: absolute;
        margin: 12px 0 0 16px;
        left: 0;
        top: 0;
    }
    .message.message {
        max-height: calc(100vh - 165px);
    }
    .channels,
    .friends {
        min-height: calc(100vh - 505px);
    }
}

@media (orientation: landscape) and (max-height: 475px) {
    .ant-layout-header {
        display: none;
    }
}
