@media (max-width: 1440px) {
    .chat__section--top.chat__section--top {
        padding: 10px 20px 10px 20px;
    }
    .form__input--message.form__input--message {
        padding: 20px 90px 20px 90px;
    }
    .ant-layout-sider-collapsed.ant-layout-sider-collapsed {
        flex: 0 0 50px !important;
        max-width: 50px !important;
        min-width: 50px !important;
        width: 50px !important;
    }
    .logo.logo {
        height: 20px;
    }
}

@media (max-width: 992px) {
    .content__section--left.content__section--left {
        display: none;
    }
    .message.message {
        max-height: calc(100vh - 205px);
    }
}

@media (max-width: 768px) {
    .message.message {
        max-height: calc(100vh - 195px);
    }
    .settings__column--left.settings__column--left {
        position: absolute;
        left: -100%;
    }
}

@media (max-width: 680px) {
    .message.message {
        max-height: calc(100vh - 195px);
    }
}

@media (max-width: 592px) {
    .message.message {
        max-height: calc(100vh - 195px);
    }
}

@media (max-width: 544px) {
    .message.message {
        max-height: calc(100vh - 215px);
    }
    .chat__column--name.chat__column--name {
        flex: 0 0 auto;
    }
    .chat__column--user.chat__column--user {
        margin: 0 20px;
    }
    .chat__column--form.chat__column--form {
        flex: 1 1 auto;
    }
    .form {
        width: 100%;
    }
    .chat__column--settings.chat__column--settings {
        position: absolute;
        top: -5.2%;
        right: 5%;
        margin: 0;
    }
    .chat__column--notification.chat__column--notification {
        display: none;
    }
}

@media (max-width: 500px) {
    .chat__column--settings {
        margin: 20px 0 0 0;
    }
    .chat__column--notification.chat__column--notification {
        margin: 20px 5px 0 5px;
    }
    .message.message {
        max-height: calc(100vh - 245px);
    }
    .account-card__row,
    .account-card__header {
        flex-direction: column;
    }
    .account-card__text {
        margin: 0 0 10px 0;
    }
    .account-card__preview {
        margin: 0 0 20px 0;
    }
    .account__button--profileEdit {
        width: 100%;
    }
    .account__button--disableAcc.account__button--disableAcc {
        margin: 0 0 20px 0;
    }
    .account__buttons {
        display: flex;
        flex-direction: column;
    }
    .warning__button {
        min-width: 120px;
    }
    .warning__image {
        width: 128px;
        height: 128px;
    }
    .warning__title {
        font-size: 24px;
    }
    .warning__description {
        font-size: 16px;
    }
}

@media (min-width: 482px) and (max-width: 499px) {
    .message.message {
        max-height: calc(100vh - 265px);
    }
    .chat__column--form {
        margin: 20px 0 0 0;
    }
    .chat__column--user.chat__column--user {
        margin: 0 0 0 20px;
    }
}

@media (max-width: 375px) {
    .chat__column--user.chat__column--user {
        margin: 0 0 0 20px;
    }
    .chat__column--form {
        margin: 10px 0 0 0;
    }
}

@media (max-width: 320px) {
    .message.message {
        max-height: calc(100vh - 235px);
    }
    .chat__column--form {
        margin: 10px 0 0 0;
    }
    .chat__column--user.chat__column--user {
        margin: 0 0 0 20px;
    }
    .warning__button {
        min-width: 100px;
    }
}

@media (orientation: landscape) and (max-height: 768px) {
    .channels,
    .friends {
        min-height: calc(100vh - 500px);
    }
}
