.messages {
    width: 100%;

    &__template {
        position: relative;
        display: flex;
        align-items: flex-start;
        padding: 5px 10px 0 22px;
        transition: all .15s ease-in-out;

        &:hover {
            background-color: #f7f7f7;

            .message-context {
                opacity: 1;
            }
        }

        &:not(:last-child) {
            margin: 30px 0;
        }

        &:first-child {
            margin: 0 0 30px 0;
        }

    }

    &__template.editable {
        background-color: #f7f7f7;
        padding: 5px 10px 5px 22px;

        .messages__content {
            width: 100%;
        }
    }

    &__input {
        border-color: transparent;
        border-radius: 4px;
        outline: transparent;
        padding: 0 5px;
        width: 100%;
    }

    &__name {
        font-size: 12px;
        line-height: 14.4px;
        font-weight: 700;
        color: #000;
    }

    &__date {
        font-size: 12px;
        font-weight: 400;
        line-height: 14.4px;
        color: #8d8d8d;
    }

    &__text {
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: #000;
        margin: 0;
    }

    &__information {
        display: flex;
        align-items: center;

        :not(:last-child) {
            margin: 0 10px 0 0;
        }
    }

    &__profile-image {
        border-radius: 5px;
        object-fit: cover;
        width: 40px;
        height: 40px;
        margin: 0 14px 0 0;
        flex-shrink: 0;
        transition: all 0.2s linear;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.ant-result {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ant-result-image {
    margin: 0 auto;
}