.chat {
    background-color: #fff;
    height: 100%;
    &__section--top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 20px 25px 20px;
        border-bottom: 1px solid rgba($color: #000, $alpha: 0.25);
        flex: 0 0 auto;
    }
    &__column--user {
        margin: 0 20px;
    }
    &__column--notification {
        margin: 0 20px;
    }
    &__section--main {
        position: relative;
        flex: 1 1 auto;
    }
    &__column {
        display: flex;
        align-items: center;
        :not(:last-child) {
            margin: 0 5px 0 0;
        }
    }
    &__column--name {
        flex: 1;
    }
    &__button {
        background-color: transparent;
        padding: 0;
    }
    &__name {
        font-weight: 700;
        font-size: 24px;
        line-height: 20px;
    }
    &__icon {
        transition: 0.15s linear;
        &:hover {
            color: rgb(255, 227, 71);
        }
    }
}
