.profile {
    background-color: rgba($color: #fff, $alpha: 0.8);
    height: 100%;
    &__wrapper {
        padding: 16px 20px;
    }
    &__image {
        object-fit: cover;
        width: 100%;
        height: 201px;
    }
    &__name {
        margin: 0;
        font-weight: 700;
        padding: 0 5px 0 0;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &::before {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            right: 0;
            top: 30%;
            background-color: #59bf40;
            border-radius: 100%;
        }
    }
    &__bio {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__button {
        margin: 0 0 20px 0;
        font-size: 13px;
        line-height: 15.6px;
        font-weight: 700;
        border-radius: 5px;
        background-color: #3577ef;
        color: #fff;
        width: 100%;
        height: auto;
        padding: 5px;
        transition: all 0.2s linear;
        transform: scale(1);
        &:active {
            transform: scale(1.025);
        }
    }
}

.social {
    margin: 20px 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    :not(:last-child) {
        margin: 0 12px 0 0;
    }
    &__link {
        color: #000;
    }
}

.information {
    margin: 0;
    padding: 0;
    &__template {
        display: flex;
        flex-direction: column;
        &:not(:last-child) {
            margin: 0 0 10px 0;
        }
    }
    &__title {
        font-size: 12px;
        line-height: 14.4px;
        font-weight: 400;
        color: #5f6164;
    }
    &__link {
        font-size: 14px;
        line-height: 16.8px;
        font-weight: 600;
        color: #000;
    }
}
