.friends {
    margin: 0;
    max-height: calc(100vh - 595px);
    overflow-y: scroll;
    /* полоса прокрутки (скроллбар) */
    &::-webkit-scrollbar {
        width: 0;
        background-color: transparent;
    }
    /* ползунок скроллбара */
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
    &__item {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin: 0 0 20px 0;
        }
    }
    &__information {
        display: flex;
        flex-direction: column;
    }
    &__status {
        font-size: 13px;
        font-weight: 400;
    }
    &__status--online {
        color: #59BF40 !important;
    }
    &__image {
        border-radius: 5px;
        object-fit: cover;
        width: 40px;
        height: 40px;
        border: 1px solid transparent;
        margin: 0 15px 0 0;
        cursor: pointer;
    }
    &__image--online {
        border: 1px solid #5ba32b !important;
    }
    &__name {
        font-weight: 400;
        font-size: 15px;
        line-height: 16.8px;
        color: #b5b5b5;
    }
    &__name--online {
        color: #c6e684 !important;
    }
}
