.friends {
    margin: 0;
    padding: 2px;
    max-height: calc(100vh - 40rem);
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 0;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
    &__item {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin: 0 0 20px 0;
        }
    }
    &__information {
        display: flex;
        flex-direction: column;
    }
    &__activity {
        font-size: 13px;
        font-weight: 400;
        display: none;
    }
    &__activity--online {
        color: #59bf40 !important;
        display: block;
    }
    &__image {
        border-radius: 5px;
        object-fit: cover;
        width: 40px;
        height: 40px;
        border: 1px solid transparent;
        margin: 0 15px 0 0;
        cursor: pointer;
        transition: all 0.2s linear;
        transform: scale(1);
        &:hover {
            transform: scale(1.05);
        }
    }
    &__image--online {
        border: 1px solid #5ba32b !important;
    }
    &__name {
        font-weight: 400;
        font-size: 15px;
        line-height: 16.8px;
        color: #b5b5b5;
    }
    &__name--online {
        color: #c6e684 !important;
    }
}
