.site-card-border-less-wrapper {
    background-color: #4f545c;
    margin: 20px 0 0 0;
}
[data-theme="dark"] .site-card-border-less-wrapper {
    background: #4f545c;
}
.ant-card-head-title {
    color: #fff;
}
.ant-card-head {
    border-bottom: 1px solid #4f545c;
}

// /. ant

.settings {
    height: 100%;
    background-color: #36393f;
    &__column {
        height: 100%;
    }
    &__column--left {
        background-color: #36393f;
    }
    &__column--right {
        background-color: #4f545c;
    }
    &__wrapper {
        position: relative;
        max-width: 700px;
        width: 100%;
        // max-height: calc(100vh - 110px);
        // overflow-y: scroll;
        padding: 50px 35px 100px 35px;
    }
    &__nav {
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
        max-width: 250px;
        width: 100%;
        margin: 0 0 0 auto;
    }
    &__button--close {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        position: fixed;
        z-index: -1;
        // z-index: 2;
    }
    &__title {
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        color: #fff;
    }
    &__subtitle {
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        text-transform: uppercase;
        color: #b9bbbe;
        margin: 0 0 2px 0;
    }
    &__text {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #b9bbbe;
    }
    &__button--exit {
        background-color: transparent;
        color: red;
    }
}

.account {
    &__section--top {
        margin: 0 0 40px 0;
    }
    &__section--bottom {
        margin: 40px 0 0 0;
    }
    &__button--edit,
    &__button--add {
        background-color: #4f545c;
        border-radius: 5px;
        min-width: 60px;
        min-height: 35px;
        color: #fff;
    }
    &__button--disableAcc {
        margin: 0 15px 0 0;
    }
    &__button--deleteAcc {
        background-color: transparent;
    }
    &__button--password {
        margin: 5px 0 30px 0
    }
}

.account-card {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 20px 0;
    }
    &__section {
        &:not(:last-child) {
            margin: 0 0 20px 0;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
    }
    &__image {
        object-fit: cover;
        width: 60px;
        height: 60px;
        border-radius: 100%;
    }
    &__name {
        color: #fff;
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        margin: 0 20px;
    }
    &__username--text,
    &__email--text,
    &__phone--text {
        color: #fff;
        font-size: 16px;
        line-height: 20px;
    }
}

.nav {
    :not(:last-child) {
        margin: 0 0 10px 0;
    }
    &__link {
        color: #b9bbbe;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
    }
    &__link--title {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 16px;
        color: #8e9297;
    }
}

//     border-top: 1px solid rgba($color: #fff, $alpha: 0.2);
//     border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
//     padding: 40px 0;
// }
