.site-card-border-less-wrapper {
    margin: 20px 0 0 0;
}
[data-theme="dark"] .site-card-border-less-wrapper {
    background: #4f545c;
}
.ant-card-head-title {
    color: #fff;
}
.ant-card-head {
    border-bottom: 1px solid #4f545c;
}

// /. ant

.settings {
    position: relative;
    background-color: rgba(77, 80, 80, 0.75);
    &__column {
        height: 100%;
    }
    &__column--left {
        background-color: #36393f;
    }
    &__column--right {
        overflow-y: scroll;
        background-color: rgba(77, 80, 80, 0.75);
        /* полоса прокрутки (скроллбар) */
        &::-webkit-scrollbar {
            width: 8px;
            background-color: #2f3136;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
            background-color: rgba(77, 80, 80, 0.75);
            border-radius: 10px;
        }
        /* ползунок скроллбара */
        &::-webkit-scrollbar-thumb {
            background-color: #36393f;
            border-radius: 10px;
        }
    }
    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 50px 35px 100px 35px;
    }
    &__nav {
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
        max-width: 250px;
        width: 100%;
        margin: 0 0 0 auto;
    }
    &__button--close {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        position: fixed;
        z-index: -1;
    }
    &__title {
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        color: #fff;
    }
    &__subtitle {
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        text-transform: uppercase;
        color: #b9bbbe;
        margin: 0 0 2px 0;
    }
    &__text {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #b9bbbe;
        margin: 0 0 20px 0;
        max-width: 700px;
    }
    &__button--exit {
        background-color: transparent;
        color: red;
    }
}

.account {
    &__section--review {
        margin: 0 0 50px 0;
    }
    &__section--removal {
        margin: 50px 0 0 0;
    }
    &__section--authenfication {
        border-top: 1px solid rgba($color: #fff, $alpha: 0.1);
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);
        padding: 30px 0;
    }
    &__button--edit,
    &__button--add {
        background-color: rgba(77, 80, 80, 0.75);
        border-radius: 5px;
        min-width: 60px;
        min-height: 35px;
        color: #fff;
    }
    &__button--disableAcc {
        margin: 0 15px 0 0;
    }
    &__button--deleteAcc {
        background-color: transparent;
    }
    &__button--password {
        margin: 20px 0 30px 0;
    }
}

.account-card {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 20px 0;
    }
    &__section {
        &:not(:last-child) {
            margin: 0 0 20px 0;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
    }
    &__preview {
        display: flex;
        align-items: center;
    }
    &__image {
        object-fit: cover;
        width: 60px;
        height: 60px;
        border-radius: 100%;
    }
    &__name {
        color: #fff;
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        margin: 0 20px;
    }
    &__username--text,
    &__email--text,
    &__phone--text {
        color: #fff;
        font-size: 16px;
        line-height: 20px;
    }
}

.nav {
    :not(:last-child) {
        margin: 0 0 10px 0;
    }
    &__link {
        color: #b9bbbe;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
    }
    &__link--title {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 16px;
        color: #8e9297;
    }
}
