.channels {
    max-height: calc(100vh - 640px);
    overflow-y: scroll;
    /* полоса прокрутки (скроллбар) */
    &::-webkit-scrollbar {
        width: 6px;
        background-color: transparent;
    }
    /* ползунок скроллбара */
    &::-webkit-scrollbar-thumb {
        background-color: #b5b5b5;
        border-radius: 10px;
    }
    &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 16.8px;
        color: #b5b5b5;
    }
    &__link.active {
        color: #1890ff;
    }
    :not(:last-child) {
        margin: 0 0 12px 0;
    }
}
