@mixin emoji-picker-absolute {
    z-index: 2;
    position: absolute;
    right: var(--rightPosition);
    top: var(--topPosition);
    bottom: auto;
}

.emoji-picker-wrapper {
    z-index: 2;
    position: fixed;
    right: 12px;
    bottom: 75px;
}

.emoji-picker-wrapper_reactions {
    @include emoji-picker-absolute;
}

.emoji-picker-wrapper_edit {
    @include emoji-picker-absolute;
}