.message {
    width: 100%;
    max-height: 670px;
    overflow-y: scroll;
    padding: 30px 0 30px 0;
    /* полоса прокрутки (скроллбар) */ // Need @mixin
    &::-webkit-scrollbar {
        width: 6px;
        background-color: transparent;
    }
    /* ползунок скроллбара */
    &::-webkit-scrollbar-thumb {
        background-color: #b5b5b5;
        border-radius: 10px;
    }
    &__template {
        display: flex;
        align-items: flex-start;
        padding: 0 10px 0 0;
        &:not(:last-child) {
            margin: 30px 0;
        }
        &:first-child {
            margin: 0 0 30px 0;
        }
    }
    &__name {
        font-size: 12px;
        line-height: 14.4px;
        font-weight: 700;
        color: #000;
    }
    &__date {
        font-size: 12px;
        font-weight: 400;
        line-height: 14.4px;
        color: #8d8d8d;
    }
    &__text {
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: #000;
        margin: 0;
    }
    &__information {
        display: flex;
        align-items: center;
        :not(:last-child) {
            margin: 0 10px 0 0;
        }
    }
    &__profile-image {
        // Need @mixin
        border-radius: 5px;
        object-fit: cover;
        width: 40px;
        height: 40px;
        margin: 0 14px 0 0;
    }
}
