.App {
    height: 100%;
}

#root {
    height: 100%;
}

body {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.15);
    // background-color: rgba(0, 0 , 0,  0.15) !important;
}

.header {
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

// /. general pages styles

.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.icon {
    flex-shrink: 0;
}

button {
    cursor: pointer;
}
