.App {
    height: 100%;
    // display: flex;
    // flex-direction: column;
}

#root {
    height: 100%;
}

body {
    font-size: 14px;
    line-height: 1;
}

.header {
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

// /. general pages styles

.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}