ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: transparent;
    cursor: pointer;
}

img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}